
<div class="headre_embed">
    <img src="assets/img/back_header.jpg" alt=""> 
</div>

<div class="w97">
    <div class="bg-white" >
        <swiper [config]="config">                                                         
            <div class="swiper-wrapper">
            <div class="swiper-slide" *ngFor="let data of ObjClasico">                       
                <div class="itemE" >
                    <a [href]="data.urlNoti" target="_blank">                 
                     <div class="hover14">
                      <div>
                        <figure> 
                        <img class="imgw100" [src]="data.urlImg" alt=""></figure>
                      </div>
                     </div>
                     <div class="card">
                        <div class="date">{{ data.dateNoti | date: 'mediumDate'}}</div>
                        <h1 class="titleN" [innerHTML] = "data.titulo"></h1>
                        <div class="descript">
                          <p [innerHTML] = 'data.teaser'></p>
                        </div>                    
                     </div>
                    </a> 
                </div>
            </div>        
        </div>
    </swiper>
</div>
</div>

